# Gradle
.gradle/
build/
*/build/
gradle-app.setting
.gradletasknamecache

# Android
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
release/
local.properties

# IDE
.idea/
*.iml
.vscode/
.acside/
*.hprof

# OS
.DS_Store
Thumbs.db

# Kotlin
.kotlin/

# Native (kullanılmıyor)
*.a
*.so
*.o
cpp/
jniLibs/
obj/

# Keystore
*.jks
*.keystore

# Logs
*.log
